.setbannerversion2 {
    background: url('../img/Version\ 2.0/bannernew.png') no-repeat;
    background-size: cover;
    height: 905px;
}

.sidemargin-newversion-banner-image {
    margin-left: 100px;
    margin-right: 100px;
}

.nav-link {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
}

.roboto-family-regular {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
}

.roboto-family-semibold {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
}

.roboto-family-bold {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}

.aboutus-versio-2 {
    font-size: 70px;
}

.setting-the-fornt-color {
    color: #efb434;
}

.parahraph-aboutus-version2 {
    margin-top: 20px;
    font-size: 20px;
}

.align-self-center {
    align-self: center;
}

.color-about-us-blue {
    color: rgba(67, 81, 250, 255);
}

.button-color-schemeV-2 {
    margin: 10px 0;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    padding: 15px 15px;
    color: rgba(67, 81, 250, 255);
    text-transform: uppercase;
}

.button-color-schemeV-2-blue {
    margin: 10px 0;
    background-color: rgba(67, 81, 250, 255);
    border-color: rgba(67, 81, 250, 255);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    padding: 15px 15px;
    color: white;
    text-transform: uppercase;
}

.about-us-para-color-version-2 {
    margin-top: 20px;
    color: rgba(126, 126, 128, 255);
}

.header-section-aboutus-version2 {
    padding-right: 70px;
}

.list-unstyled li {
    padding: 5px 0;
    font-size: 16px;
}

/* Contact Us */
.header-font-contactus-new {
    font-size: 75px;
    text-align: center;
}

.contact-us-paragraph-set-versio-2 {
    font-size: 18px;
    text-align: center;
}

.contact-us-setting-card-2 {
    margin-top: -450px;
    margin-bottom: 300px;
}

.provide-shadow-version-2 {
    -webkit-box-shadow: 0px 6px 14px -4px rgba(97, 97, 97, 1);
    -moz-box-shadow: 0px 6px 14px -4px rgba(97, 97, 97, 1);
    box-shadow: 0px 6px 14px -4px rgba(97, 97, 97, 1);
}

.setting-padding-card-set-version-2 {
    padding: 80px 80px;
}

.button-color-scheme-contact-us-version-2 {
    margin: 10px 0;
    background-color: rgba(67, 81, 250, 255);
    border-color: rgba(67, 81, 250, 255);
    border-radius: 50px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    padding: 15px 15px;
    color: white;
    text-transform: uppercase;
}

.input-padding-set-homepage {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

.input-lable-font-color-set {
    color: rgba(126, 126, 128, 255);
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
}

.mobileshow {
    display: none;
}

.desktopshow {
    display: block;
}

@media only screen and (min-width: 1025px) and (max-width: 2000px) {}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .sidemargin-newversion-banner-image {
        margin-left: 60px;
        margin-right: 60px;
    }

    .aboutus-versio-2 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .sidemargin-newversion-banner-image {
        margin-left: 60px;
        margin-right: 60px;
    }

    .aboutus-versio-2 {
        font-size: 50px;
    }
}


@media only screen and (min-width: 320px) and (max-width: 991px) {
    .mobileshow {
        display: block;
    }

    .desktopshow {
        display: none;
    }

    .sidemargin-newversion-banner-image {
        margin-left: 60px;
        margin-right: 60px;
    }

    .aboutus-versio-2 {
        margin-top: 40px;
        font-size: 35px;
    }

    .button-color-schemeV-2 {
        padding: 10px 10px;
    }

    footer.set-bg-footer.home-form-footer {
        padding-top: 0px;
    }

    .header-font-contactus-new {
        font-size: 55px;
    }

    .contact-us-paragraph-set-versio-2 {
        font-size: 15px;
    }

    .setting-padding-card-set-version-2 {
        padding: 40px 40px;
    }

    .button-color-scheme-contact-us-version-2 {
        font-size: 11px;
        width:100% !important;
    }

}
@media only screen and (min-width: 320px) and (max-width: 550px) {
    .contact-us-setting-card-2 {
        margin-top: -362px;
        margin-bottom: 300px;
    }
}
/* Home Page */
.mb-20 {
    margin-bottom: 20px;
}

.mtb-60 {
    margin-bottom: 60px;
    margin-top: 60px;
}

.jumbotron.colorbackset {
    border-radius: 0px;
    background-color: #f9fbff !important;
}

.button-color-schemeV-2-gray {
    margin: 10px 0;
    background-color: #eaecfe;
    border-color: #eaecfe;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    padding: 10px 22px;
    color: rgba(94, 101, 121, 255);
    text-transform: uppercase;
}

.border-none {
    border: none !important;
}

.card-padding-set-home-v2 {
    padding: 30px;
}

.extrapadding-version-tow {
    padding: 15px 30px !important;
    width: 70%;
}

.mt-20 {
    margin-top: 20px;
}