.header_area {
  padding: 28px 0px !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  .menu_nav {
    width: 100%;

    li {
      min-width: 18%;
      text-align: center;

      a.nav-link {
        color: #ffffff;
        font-size: 20px;
        font-family: "Roboto";
        font-weight: normal;
      }

      &.active {
        a.nav-link {
          color: #ffffff;
        }
      }
    }
  }
}